.back-green{
    background-color: rgb(79, 223, 54);
}

.back-yellow{
    background-color: rgb(255, 204, 0);
}

.back-liyellow{
    background-color: rgb(247, 221, 118);
}

.back-liyellow2{
    background-color: rgb(251, 251, 178);
}

.back-red{
    background-color: rgb(252, 52, 99);
}

.back-blue{
    background-color: rgb(195, 229, 252);
}
.back-darkblue{
    background-color: rgb(68, 169, 252);
}
.back-gray{
    background-color: rgb(228, 238, 244);
}

.stil-tekst{
    font-family: "Comic Sans MS"; 
}

.color-black{
    color: black;
}

.color-white{
    color: white;
}

.color-red{
    color: red;
}

.color-green{
    color: rgb(54, 210, 26);
}

.color-yellow{
    color: rgb(225, 180, 2);
}

.color-blue{
    color: rgb(15, 145, 252);
}

.kreni-btn{
    cursor:pointer;
    background-color: rgb(195, 229, 252);
    border-radius: 12px;
    color: black;
    /*border-color:  rgb(96, 178, 246);*/
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 5px 80px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Comic Sans MS;
    width:330px;
}

.kreni-btn:hover{
    background-color: rgb(129, 203, 252);
}

.next-btn{
    font-weight:normal;
    font-size: medium;
}

.end-btn{
    background-color: rgb(252, 74, 115);
}
.end-btn:hover{
    background-color: rgb(252, 11, 67);
}

.back-btn{
    background-color: rgb(247, 221, 118);
}
.back-btn:hover{
    background-color: rgb(247, 198, 23);
}