.robot{
    width: 25em;  
    cursor:pointer;
}

.pozdrav{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.poruka{
    box-sizing: border-box;
    width: 400px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: solid rgb(255, 204, 0);
    font-family: Comic Sans MS;
    text-align: center;
}

.note-slika{
    height: 200px;
    margin: auto;
}

.container{
    display: flex;
   justify-content: space-between;
   padding: 50px;
   /*margin: 30px 0px;*/
}

.nazivNav{
    font-family: Comic Sans MS;
    text-align: center;
}

.izbornik{
    padding-top: 50px;
    padding-bottom: 70px;
}

.navigacija{
   display: grid;
   grid-template-columns: auto auto auto;
   justify-content: center;
}

.btn{
    padding:70px 70px;
    margin:10px 5px;
    width: 260px;
    border-radius: 12px;
    cursor: pointer;
    border: solid rgb(251, 251, 178);
    background-color: rgb(251, 251, 178);
    font-size: larger;
    font-weight: bold;
    font-family: Comic Sans MS;
}

.btn:hover{
    background-color:  rgb(255, 204, 0);
    border: solid rgb(195, 229, 252);
}

.broj-pozadina{
    background-repeat: no-repeat;
    background-position: center;
}
.prvi{
    background-image: url("../images/1.png");
    background-size: 220px;
}

.drugi{
    background-image: url("../images/2.png");
    background-size: 200px;
}

.treci{
    background-image: url("../images/3.png");
    background-size: 130px;
}

.cetvrti{
    background-image: url("../images/4.png");
    background-size: 220px;
}

.peti{
    background-image: url("../images/5.png");
    background-size: 200px;
}

.sesti{
    background-image: url("../images/6.png");
    background-size: 170px;
}

.dno{
    padding:20px 0px;
    /*margin:30px 0px;*/
}

.btn-div{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
.btn-div img{
    width: 80px;
    margin-left: 50px;
    margin-right: 50px;
}
